.container {
    text-align: center;

    p {
        font-size: 1.6rem;
    }
}

.container h1 {
    color: blueviolet;
    font-size: 2rem;
    font-weight: bold;
}

.container button {
    background-color: rgb(168, 143, 40);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    color: blueviolet;
}
