.container {
    text-align: center;

    p {
        font-size: 1.3rem;
    }

    h1 {
        color: blueviolet;
        font-size: 2rem;
        font-weight: bold;
    }

    button {
        background-color: rgb(168, 143, 40);
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        border: none;
        color: blueviolet;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.95);
        }
    }
}
